html
    head
        title Haha Family Guy Chat
        link(href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;515;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='css/main.css')
        link(rel='icon' href='icons/peter.png')
    body
        #wrapper
            header#header
                #logo
                    a(href='/')
                        img(src="icons/logo.png", alt="Family Guy Logo" width=100)
                        div Chat
                #nav
                    a.nav-btn(href='/') Home
                    a.nav-btn(href='/about') About
            main#main
                block content
        #status-feed(tabindex=0)
            #feed-content
            #feed-clear-all
        block scripts